.App {
  text-align: center;
}

.bgNavbar {
  background-color: #37bff5;
  margin-top: 10px;
  padding: 0px;
}


.mainRoute {
  background-color: "#00A2FF";
  color:white;
  height: auto;
  margin: 0px;
  padding-top: 6px ;
  vertical-align: middle;
}

.mainRoute:hover {
color:  #37bff5;
background-color:#03033b;
}

.droppdownNav {
  margin-left: 12px;
}

.brandClass {
  margin-left: 15px;
  padding: 0px;
} 

table tbody {
  margin: -10px;
  display: block;
  border-spacing: 10px;
}

.caruselContainer {
position: relative;
margin-left: 45%;
margin-top: 50px;
width: 95px;
height: 125px;
border: 2px solid lightskyblue;
border-radius: 10px;
box-shadow: 0 0 10px;
overflow: hidden;
}

.caruselC {
  display: flex;
  transition: all ease 2s;
}

.caruselItem {
  flex-wrap: wrap;
  margin: 5px;
  width: 180px;
  height: 110px;
  border: 1px solid lightgreen;
}

.caruselImg {
  width: 78px;
  height: auto;
}

.podborkaTov {
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 22%;
  max-width: 850px;
  max-height: 350px;
  margin-top: 20px;
 }

.podborkaItem {
  text-align: center;
  position: relative;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 210px;
  height: auto;
  border: 1px solid lightgreen;
border-radius: 15px;
}

.podborkaItem:hover {
  box-shadow: 0 0 10px;
}

.podborkaItem  img{
  margin-left: 38px;
  margin-top: 60px;
  width: 120px;
  height: auto;

}

.oneItem {
  width: 300px;
  height: 300px;
}

.podborkaItemSlide {
  position: absolute;
}

.sliderActiv {
  opacity: 1;
  transition: all ease 1s;
}

.sliderNone {
  opacity: 0;
}

.btnBack {
  margin-top: 190px;
}

.btnNext {
  margin-top: 190px;
}

.podborkaHeader {
width: 50%;
height: auto;
margin-left: 25%;
  text-align: center;
  font-size: 25px;
  color: #37bff5;
}